<configuration>
  <appSettings file="config.user">
    <add key="IntegrationKey" value="5ef667dd-7543-4ea0-91ad-f34dd863d446"></add>
    <add key="IntegrationAccount" value="queueitcsharp"></add>
    <add key="IntegrationUser" value="mala"></add>
    <add key="IntegrationPassword" value="123qwe"></add>
  </appSettings>
</configuration>