<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggly" type="Loggly.Config.LogglyAppConfig, Loggly.Config, Version=3.5.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <!--<appSettings>
    <add key="NewRelic.AppName" value ="newrelicname"/>
  </appSettings>-->
  
  <loggly configSource="loggly.user.config" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>