<!--
Create your own loggly.user.config which is not part of the git repository and use this as a template.
Don't forget to update it with your own customer token 
-->
<?xml version="1.0"?>
<loggly 
  xmlns="Loggly" 
  applicationName="Loggly.Example" 
  customerToken="!!!!your token here!!!!" 
  throwExceptions="true">
  
  <search account="your_loggly_account" username="your_loggly_username" password="myLittleP0ny!"/>
  
  <tags>
    <simple>
      <tag value="winforms"/>
    </simple>
    <complex>
      <tag type="Loggly.HostnameTag" formatter="host={0}"/>
      <tag type="Loggly.ApplicationNameTag" formatter="application={0}"/>
      <tag type="Loggly.OperatingSystemVersionTag" formatter="os={0}"/>
      <tag type="Loggly.OperatingSystemPlatformTag" formatter="platform={0}"/>
    </complex>
  </tags>
</loggly>