<!--
Create your own loggly.user.config which is not part of the git repository and use this as a template.
Don't forget to add your own customer token 
-->
<?xml version="1.0"?>
<loggly xmlns="Loggly" customerToken="!!!!your token here!!!!" throwExceptions="true">
  <search account="ffff" username="sfsdfsdf" password="P8sfsdfsdf6jp26NzHC5P2F"/>
  <tags>
    <simple>
      <tag value="mysimpletag"/>
    </simple>
    <complex>
      <tag name="Hostname" assembly="Loggly.Config" type="Loggly.HostnameTag" formatter="host={0}"/>
    </complex>
  </tags>
</loggly>